@tailwind base;
@tailwind components;
@tailwind utilities;

.incident-date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
}

.incident-date-input::-moz-calendar-picker-indicator {
  opacity: 0;
}
